<div class="container">
  <%= render "share/error_message", error_message: @error_message %>
  <div class="user_wrapper">
    <%= render "share/auth_form", model: @users, path: sessions_path, button_value: "ログイン" %>
  </div>
</div>
