<div class="container">
  <%= render "share/error_message", error_message: @error_message %>
  <div class="user_wrapper">
    <%= render "share/auth_form", model: User.new, path: users_path, button_value: "新規登録" %>
  </div>
</div>
