<div class="container">
  <div class="top_wrapper">
    <div class="top_content">
      <h2>musiQは、問題を自動生成する音楽系クイズサービスです。</h2>
      <p>お好みのアーティスト名を入力するだけで、曲当てクイズが生成されます。</p>
      <p>普段から聴いているアーティストでも、意外と知らない曲があるかも？</p>
      <p>お気に入りのアーティストのクイズをつくって、友達にシェアしましょう！</p>
      <div class = "top-btns">
        <%=link_to "1分でクイズをつくる", new_user_path, {:class => "menu-btn"}%>
      </div>
      <h1></h1>
      <h2>あそび方</h2>
      <div class="img_list">
        <div class="img_num">①作ってあそぶ</div>
        <p>1.好きなアーティスト名と出題数を設定してください。</p>
        <p>2.回答用の合言葉を設定してください。</p>
      <img src="mock1.jpg" class="image1">
        <div class="img_num">②答えてあそぶ</div>
        <p>1.回答用の合言葉を入力してください。。</p>
        <p>2.曲を聴いて、正しい曲名を選んでください。</p>
      <img src="mock2.jpg" class="image2">
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2019 musiQ
    <% if @current_user %>
      <%=link_to "退会する", user_path(@current_user), :method => :delete, :confirm => 'Are you sure?'%>
    <% end %>
  </div>
</div>
